.App {
}

.AppBar {
    text-align: right;
    color: white;
}


.Home_Welcome {
    padding-top: 2rem;
    text-align: center;
    color: #ffffff;
}

.Home_Contact {
    padding-top: 2rem;
}

.Home_Actions {
    padding-top: 2rem;
}

.carousel-item {
    height: 20vh;
    overflow: hidden;
    width: 100%;
}

.carousel-item img {
    width: 100%;
    overflow: hidden;
}

.AboutMeCard {
    margin: 2rem;
    max-width: 50vw;
}
