.App {
    /*text-align: center;*/
    /*background-color: black;*/
    /*background-image: url("img/home.jpg");*/
    /*background-size: cover;*/
    /*min-width: 100vw;*/
    /*min-height: 100vh;*/
    /*min-width: 100vw;*/
    /*min-height: 100vh;*/
    /*max-width: 100vw;*/
    /*max-height: 100vh;*/
}

.AppBar {
    text-align: right;
    color: white;
}

.FooterCopyright {
    bottom: 1em;
    color: white;
    width: 100vw;
    /*position: absolute;*/
}

.Home_Welcome {
    padding-top: 2rem;
    text-align: center;
    color: #ffffff;
}

.Home_Contact {
    padding-top: 2rem;
}

.Home_Actions {
    padding-top: 2rem;
}

.Project-Photo {
    min-height: 19vh;
    max-height: 19vh;
    max-width: inherit;
    overflow: hidden;
}
